
@model BusinessEntities.UserEntity
@{
    ViewBag.Title = "Login";
}

<div class="wrapper">
    @using ((Html.BeginForm("Login", "Accout", FormMethod.Post, new { @class = "form-signin" })))
    {
        <h2 class="form-signin-heading">Login</h2>
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username / Email Address", required = "", autofocus = "" })
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password", required = "", autofocus = "" })

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    }
</div>
